.glass{
    height: 200px;

position: relative;
}

.glass .inner{
    position:relative;
    width: 100px;
    height: 200px;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    border: 3px solid transparent;
}
.glass .inner:before{
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    width: calc(100% - 5px);
    height: 15px;
    border:4px solid #333131;
    border-radius: 50%;
    transform: translateX(-50%);
    box-shadow: 0 8px 0 rgba(46, 53, 61, 0.68);
}
.glass .inner:after{
    content:"";
    position:absolute;
    top: 35px;
    left: 15px;
    width: 25px;
    height: 140px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
}
.inner{

}
.liquidPetrol{
    position: absolute;
    top:20px;
    left:3px;
    right: 3px;
    bottom: 5px;
    background: rgba(8, 225, 245, 0.82);
    border-radius: 0px 0px 16px 16px;
    filter:drop-shadow(0 0 25px #41c1fb);
}
.liquidPetrol::before{
    content: "";
    position: absolute;
    top: -8px;
    width: 100%;
    height: 16px;
    border-radius: 50%;
    background: #22acb9;
}
.tankDescription{
    padding:5px 0 0 5px;
    color: #d9f8ec;
    font-size: 12px;
    opacity: 0%;
    background-color: #244d67;
    width: calc(100% + 20px);
    height: 185px;
    margin-top: 10px;
    position: absolute;
    transform: translateX(-10px);
    z-index: 1;
    border-radius: 20px;
    transition: all 0.3s linear;

}
.fuelName{
    right: -4px;
    top: 50px;
    color: #d9f8ec;
    font-size: 16px;
    width: 40px;
    position: absolute;
    z-index: 1;
    background-color: #002041;
    border: 1px solid #7cf508;
}
.tankDescription > div{
    margin-bottom: 2px;
    display: flex;
    justify-content:space-between;
}
.tankDescription:hover{
    opacity: 95%;
    cursor: pointer;

}