.content{
    height: calc(100vh - 40px);
    margin-top: 40px;
    background-color:  #002041;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 0 10px rgb(4, 255, 198);

}
.content .contentHeader {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-style: italic;
    font-weight: bold;
    height: 30px;
    background-image:linear-gradient(270deg, rgba(0, 20, 232, 0.63), rgba(124, 243, 248, 0.65));
    font-size: 20px;
    text-align: center;
    width: 100%;
}
.contentHeader span{
    background-image:linear-gradient(270deg, rgba(1, 255, 5, 0.91), rgba(0, 8, 112, 0.96));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.contentWrapper{
    background-color: #002041;
    height: calc(100% - 30px);
    overflow: scroll;
    background-size: cover;
    padding: 30px;


}
.flexWraper{
    display: flex;
    flex-wrap:wrap;
    gap: 15px;
}
.contentWrapper::-webkit-scrollbar {
    width: 0;
    display: none;
}

@media (max-width: 500px) {
    .content{
        z-index: 2;
        margin-left: -190px;
    }
    .content .button{
        display: block;
    }
}