.tableContayner{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table{
  table-layout: fixed;

  color: #d9f8ec;
  width: auto;
  border-collapse: collapse;
  border-radius: 4px;
  box-shadow: 0px -1px 18px 6px rgb(114 99 166 / 51%);
  white-space: nowrap;

}
.table thead th{
  min-width: 120px;
  max-width: 120px;
}
.row > td {
  transition: background-color 0.2s ease-in-out;
}
.row > td{
  text-align: center;
  background-color: #00031a;
}
.row:focus-within td {
  background-color: rgba(89, 253, 2, 0.66);
  outline: none;
}
.cell {
  padding: 5px;
  border-bottom: 1px solid rgba(3, 248, 211, 0.99);
  font-size: 14px;
  font-weight: 400;
}

.header-cell {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}


@media (max-width: 1390px) {
  .tableContayner {
    width: auto;
    display: block;
  }
}