.loadContainer div {
    border-radius: 5px;
    position: absolute;
    width: 40px;
    height: 40px;
    animation: load 2s linear infinite;
}
.loadWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(115, 227, 227, 0.35);
}
.loadContainer {
    width: 230px;
    height: 230px;
    background-image: linear-gradient(rgba(6, 253, 122, 0.65), rgba(54, 10, 248, 0.54));
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}


.loadContainer div { box-sizing: content-box; }

@keyframes load {
    0% { background: #eeff00}
    30%{ background: #f3fc00}
    40%{background: #0023f8}
    100% { background: #3a46f6}
}