
.navigationWrapper{
    margin-top: 50px;
}
.navigation{
    background-image:linear-gradient(270deg, rgb(21, 208, 0), rgb(1, 2, 68));
    margin-right: 20px;
    border-radius: 15px;
    font-size: 20px;
    font-style: italic;
    opacity: 1;
    position: relative;
    z-index: 5;
    transition: all 0.5s linear;
}
.navigationSelected.navigation{
    background-image:linear-gradient(270deg, rgba(0, 169, 39, 0.87), rgba(1, 2, 68, 0.84));
    border-radius: 15px;
    font-size: 20px;
    opacity: 1;
    position: relative;
    z-index: 200;
}
.submenu{
    opacity: 0;
    margin: -1px;
    height: 1px;
    width: 1px;
    clip: rect(0 0 0 0);
    list-style: none;
    top: 0;
    left:-100%;
    position: absolute;
    background-color:transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s linear;

}
.submenu > li >a:hover{
    color: #03f899;
}
.submenu:hover{
    opacity: 1;
    left: 100%;
    margin: 0;
    height: auto;
    width: auto;
    clip: auto;

}
.menu  li:hover ul{
    opacity: 1;
    left: 100%;
    margin: 0;
    height: auto;
    width: auto;
    clip: auto;

}

.menu  li > a{
    padding:0 4px 0 4px;
    line-height: 30px;
    text-decoration: none;
    color: #cbfffb;
    margin-left: 1px;
    transition: 0.7s all ;
    border-radius: 10px;
}
.menu{

}
.menu > li{
    position: relative;
    white-space: nowrap;
    padding: 5px;
}

.navigation .act {
    color: #010728;
    background-image:linear-gradient(90deg, rgb(4, 0, 253), rgb(2, 255, 12));
    border-radius: 10px;

}

@media (max-width: 500px) {
    .navigation{
        opacity: 0;
        z-index: 0;
    }

}
@media (min-height: 400px) {

}


