
.navigationWrapper{
    margin-top: 70px;
    width: 190px;
}
.navigation{
    background-image:linear-gradient(270deg, rgb(21, 208, 0), rgb(1, 2, 68));
    margin-right: 20px;
    border-radius: 15px;
    font-size: 35px;
    opacity: 1;
    position: relative;
    z-index: 0;
    transition: all 0.5s linear;
}
.navigationSelected.navigation{
    background-image:linear-gradient(270deg, rgba(0, 169, 39, 0.87), rgba(1, 2, 68, 0.84));
    margin-right: 30px;
    border-radius: 15px;
    font-size: 35px;
    opacity: 1;
    position: relative;
    z-index: 200;
}

.navigation a{
    line-height: 40px;
    text-decoration: none;
    color: #cbfffb;
    margin-left: 5px;
    transition: 0.7s all ;
    border-radius: 10px;
}


.navigation div:last-child{
    margin-top: 20px;
}

.navigation .act {
    color: #08e1f5;
    background-image:linear-gradient(90deg, rgb(4, 0, 253), rgb(2, 255, 12));
    border-radius: 10px;

}
.frendsCotayner{
    background-color: rgba(248, 96, 242, 0.85);
    border-radius:15px;
    margin-right:30px;
    font-size:30px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px) {
    .navigation{
        opacity: 0;
    }
    .frendsCotayner{
        opacity: 0;
    }
}
@media (min-height: 400px) {

}


