*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background-image: linear-gradient(45deg, #010729,#11ab5b, #04a9abb3);
}
.app-wraper{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: 60px 1fr;
}

a {/* убирает браузерную подсветку при табе*/
    -webkit-tap-highlight-color: transparent; /* Для WebKit-браузеров (Safari, Chrome) */
    -moz-tap-highlight-color: transparent; /* Для Firefox */
    -ms-tap-highlight-color: transparent; /* Для IE/Edge */
    tap-highlight-color: transparent; /* Общий вариант */
}

